/* Example styles for search form and results */
.search-form {
    margin-bottom: 20px;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.search-form, .search-input {
    font-family: 'Noto Kufi Arabic', sans-serif; 
}

body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    line-height: 1.6;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Noto Kufi Arabic', sans-serif;
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    text-align: center;
}

footer p {
    margin: 0 0 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 5px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.category-title {
    background: #eee;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
}

.category-content {
    display: none; /* Hidden by default */
}

.question, .answer {
    font-family: 'Noto Kufi Arabic', sans-serif; 
}

.question {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    text-align: right;
}
